{% set title = "Job Applications @ Coli" %}

{% extends "main.html" %}
{% import "macros.html" as m %}


{% block content %}

<div style="margin:10px">


<form class="form-horizontal col-md-8" action="{{ conf.get('server', 'path') }}" method="post" enctype="multipart/form-data">
    <h1>{{ title }}</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <hr/> <p class="text-danger"> {{ message }} </p>
        {% endfor %}
    {% endif %}
{% endwith %}

    <p>&nbsp;<br/>
        Welcome to the job applications system of the <a href="http://www.coli.uni-saarland.de/">Department of Computational Linguistics
        and Phonetics</a> at <a href="http://www.uni-saarland.de/">Saarland University</a>.</p>

    <p>On this page, you can submit your application for the following job opening:
        <blockquote style="font-size: inherit"><strong>{{ conf.get("application", "code") }}</strong>:
        <a href="{{ conf.get('application', 'url') }}">{{ conf.get('application', 'name') }}</a>
</blockquote>
    </p>

    <p>Please enter the following information so we can process your application easily. Thank you!
        <br/><br/>&nbsp;</p>



    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Information about yourself</h3></div>
        <div class="panel-body">
            {{ m.swtf(form.lastname) }}
            {{ m.swtf(form.firstname) }}
            {{ m.swtf(form.email) }}
            {{ m.swtf(form.level) }}
            {{ m.swtf(form.birthday) }}
            {{ m.swtf(form.nationality) }}
            {# {{ m.swtf(form.disability) }} #}

        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Your CV</h3></div>
        <div class="panel-body">
            <p style="margin-bottom:1em">
                Please upload your CV as a single PDF file. Include all information
                in this PDF file that you feel is relevant to your application, but
                at least: a statement of research interests; the CV with publication
                list; and scans of degree certificates and transcripts.
        </p>

            {{ m.swtf(form.cv_file) }}
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Your current affiliation</h3></div>
        <div class="panel-body">
            {{ m.swtf(form.affiliation) }}
            {{ m.swtf(form.aff_city) }}
            {{ m.swtf(form.aff_country) }}
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Your most recent degree</h3></div>
        <div class="panel-body">
        <p style="margin-bottom:1em">Please enter some information about your most recent degree. If you are about to complete
        a higher degree (e.g. your PhD), enter that degree here. Provide a complete list of your
            degrees in your CV.
        </p>

            {{ m.swtf(form.deg_degree) }}
            {{ m.swtf(form.deg_subject) }}
            {{ m.swtf(form.deg_year) }}
            {{ m.swtf(form.deg_university) }}
            {{ m.swtf(form.deg_city) }}
            {{ m.swtf(form.deg_country) }}
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Letter of reference #1</h3></div>
        <div class="panel-body">
            <p>Please provide contact data for two colleagues whom we can approach for letters of reference.</p>

            {{ m.swtf(form.lor1_name) }}
            {{ m.swtf(form.lor1_email) }}
            {{ m.swtf(form.lor1_affiliation) }}
            {# {{ m.swtf(form.lor1_city) }}
            {{ m.swtf(form.lor1_country) }} #}
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Letter of reference #2</h3></div>
        <div class="panel-body">
            {{ m.swtf(form.lor2_name) }}
            {{ m.swtf(form.lor2_email) }}
            {{ m.swtf(form.lor2_affiliation) }}
            {# {{ m.swtf(form.lor2_city) }}
            {{ m.swtf(form.lor2_country) }} #}
        </div>
    </div>

    <button id="submit" name="submit" type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}
