
{% macro controlgroup(for, title) -%}
<div class="control-group">
    <label class="control-label" for={{ for }}>{{ title }}</label>
    <div class="controls">
        {{ caller() }}
    </div>
</div>
{%- endmacro %}

{% macro tf(id, label) -%}
<input id={{ id }} name={{ id }} type="text" placeholder={{ label }} class="input-xlarge" />
{%- endmacro %}

{% macro sub(name, label, class) -%}
<input id={{ name }} name={{ name }} value="{{ label | safe }}" type="submit" class='{{ class }}' />
{%- endmacro %}

{% macro sel(name, selectedItem, values) -%}
<select id={{ name }} name={{ name }} class="input-xlarge">
    {% for v in values %}
        {% with -%}
            {% if v[0] == selectedItem -%}
                {% set s = "selected=selected" %}
            {% else %}
                {% set s = "" %}
            {% endif %}
            <option {{ s }} value={{ v[0] }}>{{ v[1] }}</option>
        {%- endwith %}
    {% endfor %}
</select>
{%- endmacro %}

{% macro header(name, label) -%}
<div class="control-group">
    <label class="control-label" for='{{ name }}'></label>
    <div class="controls">
        <label id='{{ name }}' class="my-form-header">{{ label|safe }}</label>
    </div>
</div>
{%- endmacro %}




{# display WTF field #}
{% macro swtf(field, fclass='') -%}
  {% with %}
        {% if field.errors|length > 0 %}
            {% set clazz = "form-group has-error" %}
        {% else %}
            {% set clazz = "form-group" %}
        {% endif %}

        <div class="{{ clazz }}">
            {{ field.label(class="col-sm-2 control-label") }}
            <div class="col-sm-10">
                {{ field(class="form-control", ** {"aria-describedby": "help_" + field.name}) }}
                {% for err in field.errors %}
                    <span id="help_{{ field.name }}" class="help-block">{{ err }} </span>
                {% endfor %}
            </div>
        </div>
  {% endwith %}
{%- endmacro %}


{# display WTF checkbox field #}
{% macro cbox(field, fclass='') -%}
  {% with %}
        <div class="checkbox-inline col-sm-offset-2">
            <label>
                {{ field() }}
                xxx
                {{ field.description }}
            </label>
        </div>
  {% endwith %}
{%- endmacro %}
