{% set title = conf.get("application", "code") + " - Applications Overview" %}

{% extends "main.html" %}
{% import "macros.html" as m %}


{% block content %}

<div class="content">

    <h1>{{ title }}</h1>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <hr/> <p class="text-danger"> {{ message }} </p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <table id="applications" class="display table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Time</th>
            <th>Status</th>
            <th width="16%">Name</th>
            <th width="8%">Level</th>
            <th>Affiliation</th>
            <th>Degree</th>
        </tr>
        </thead>

        <tbody>
        {% for app in applications %}
        <tr bgcolor="{{ app.status | statuscolor }}">
            <td>{{ app.id }}</td>
            <td>{{ app.application_time | ft }}</td>
            <td>{{ app.status }} - {{ app.status | statuslabel }}</td>
            <td>
                <a href="{{ app | cv_filename }}"> <img src="img/file.png" height="12px"/> </a>

                <a href="show-application.html?id={{ app.id }}">{{ app.lastname }}, {{ app.firstname }}</a></td>
            <td>{{ app.level }}</td>
            <td>{{ app.affiliation }} ({{ app.aff_country }})  </td>
            <td>
                {% for deg in app.degrees %}
                {{ deg.degree }}, {{ deg.university }} ({{ deg.country }}), {{ deg.year }}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>


<script type="text/javascript" class="init">
    $(document).ready(function(){
    $('#applications').DataTable({
      "paging": false,
      "dom": "ft"
     });
});
</script>

{% endblock %}