{% set title = application.lastname + ", " + application.firstname + " - Application" %}

{% extends "main.html" %}
{% import "macros.html" as m %}


{% block content %}

<div class="content">
    <h1>{{ application.firstname }} {{ application.lastname }}
        <span class="floatright">
            <a href="show-applications.html">&#8679;</a>
            {% if current_user.is_authenticated %}
            <a href="logout">&#x2205;</a>
            {% endif %}
        </span>
    </h1>


    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Applicant</h3></div>
        <div class="panel-body">
            <table width="100%">
                <tr><td class="a_label">Name</td> <td>{{ application.lastname }}, {{ application.firstname }}</td></tr>
                <tr><td class="a_label">Status</td> <td><span class="statuslabel" style="background-color: {{ application.status | statuscolor }}">{{ application.status }} - {{ application.status | statuslabel }}</span></td></tr>
                <tr><td class="a_label">Email</td> <td>{{ application.email | emlink }}</td></tr>

                <tr><td class="a_label">Birth</td>
                    <td>{{ application.nationality | flaglink }}
                        {{ application.s_nationality.name_en }}, {{ application.birthday | ft }}</td>
                </tr>

                <tr><td class="a_label">Affiliation</td>
                    <td>{{ application.aff_country | flaglink }} {{ application.affiliation }}, {{ application.aff_city }}, {{ application.s_aff_country.name_en }}</td></tr>

                <tr><td class="a_label">&nbsp;</td> <td></td></tr>

                <tr><td class="a_label">Level</td> <td>{{ application.level }}</td></tr>
                <tr><td class="a_label">CV</td>
                    <td><a href="{{ application | cv_filename }}"> <img src="img/file.png" height="12px"/> Download CV </a></td>
                </tr>

            </table>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Degrees</h3></div>
        <div class="panel-body">
            <table width="100%">
                {% for deg in application.degrees %}
                  <tr><td class="a_label">{{ deg.year }}</td> <td> {{ deg.degree }} in {{ deg.subject }}</td></tr>
                  <tr><td class="a_label"></td> <td>{{ deg.country | flaglink }} {{ deg.university }}, {{ deg.city }}, {{ deg.country }}</td></tr>

                  {% if not loop.last %}
                    <tr><td class="a_label">&nbsp;</td> <td> &nbsp; </td></tr>
                  {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Letters of recommendation</h3></div>
        <div class="panel-body">
            <table width="100%">
                {% for lor in application.letters %}
                  <tr><td class="a_label">&nbsp;</td> <td> {{ lor.name }}, {{ lor.affiliation }}</td></tr>
                  <tr><td class="a_label">&nbsp;</td> <td> {{ lor.email | emlink }}</td></tr>

                  {% if not loop.last %}
                    <tr><td class="a_label">&nbsp;</td> <td> &nbsp; </td></tr>
                  {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>

     <div class="panel panel-primary">
        <div class="panel-heading"><h3 class="panel-title">Notes</h3></div>
        <div class="panel-body">
            <form action="show-application.html?id={{ application.id }}" method="post">
                <table width="100%">
                    <tr><td class="a_label">Status</td> <td> {{ form.status() }}</td></tr>
                    <tr><td class="a_label">&nbsp;</td> <td> &nbsp; </td></tr>

                    <tr><td class="a_label">Comments</td> <td> {{ form.comments(cols="120", rows="10") }}</td></tr>
                    <tr><td class="a_label">&nbsp;</td> <td> &nbsp; </td></tr>

                    <tr><td class="a_label">Delete</td> <td> {{ form.delete() }}</td></tr>
                    <tr><td class="a_label">&nbsp;</td> <td> &nbsp; </td></tr>

                    <tr><td class="a_label"></td>
                        <td>{{ m.sub("update", "Update Notes", "btn btn-primary") }}
                            {{ m.sub("update_and_return", "&#8679; Update Notes and Return", "btn btn-primary") }}
                    </td></tr>
                </table>
            </form>
        </div>
     </div>


</div>

{% endblock %}